@font-size-default: 18px;

@mc-to-xs: 480px; // smart watch? no prob (short for micro)
@xs-to-sm: 768px; // phone
@sm-to-md: 992px; // tablet
@md-to-lg: 1200px; // old monitor
@lg-to-xl: 1440px; // general monitor

@scale-factor-mc: -2;
@scale-factor-xs: +0;
@scale-factor-sm: -1;
@scale-factor-md: -2;
@scale-factor-lg: -3;
@scale-factor-xl: -4;

.rem-adjust(@scaler){
    html{
        font-size: (@font-size-default + @scaler);    
    }
}

*{
	font-size: inherit;
	font-family: inherit;
	font-weight:inherit;
	line-height: inherit;
	letter-spacing:inherit;
	color: inherit;
}
html{
	//font-size: @font-size-default + @scale-factor-mc;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
section, main, nav, article, footer, header{
	font-size: 1rem;
}

@media (max-width: (@mc-to-xs - 1px) ){
    
    .rem-adjust(@scale-factor-mc);
    
}

@media (min-width: @mc-to-xs ){
    .rem-adjust(@scale-factor-xs);
    
    @media(max-width: (@xs-to-sm - 1px)){
        
    }
}

@media (min-width: @xs-to-sm ){
    .rem-adjust(@scale-factor-sm);
    
    @media(max-width: (@sm-to-md - 1px)){
        
    }
}

@media (min-width: @sm-to-md ){
    .rem-adjust(@scale-factor-md);
    
    @media(max-width: (@md-to-lg - 1px)){
        
    }
}

@media (min-width: @md-to-lg ){
    .rem-adjust(@scale-factor-lg);
    
    @media(max-width: (@lg-to-xl - 1px)){
        
    }
}

@media (min-width: @lg-to-xl ){
    .rem-adjust(@scale-factor-xl);
    
}