*{
	font-size: inherit;
	font-family: inherit;
	font-weight:inherit;
	color: inherit;
}
body{
	font-size:20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.size-25rem, .xs-up-25rem{
	font-size:0.25rem;
}
.size-50rem, .xs-up-50rem{
	font-size:0.5rem;
}
.size-75rem, .xs-up-75rem{
	font-size:0.75rem;
}
.size-125rem, .xs-up-125rem{
	font-size:1.25rem;
}
.size-150rem, .xs-up-150rem{
	font-size:1.5rem;
}
.size-175rem, .xs-up-175rem{
	font-size:1.75rem;
}
.size-200rem, .xs-up-200rem{
	font-size:2rem;
}

.size-25em, .xs-up-25em{
	font-size:0.25em;
}
.size-50em, .xs-up-50em{
	font-size:0.5em;
}
.size-75em, .xs-up-75em{
	font-size:0.75em;
}
.size-125em, .xs-up-125em{
	font-size:1.25em;
}
.size-150em, .xs-up-150em{
	font-size:1.5em;
}
.size-175em, .xs-up-175em{
	font-size:1.75em;
}
.size-200em, .xs-up-200em{
	font-size:2em;
}

@media (max-width: 767px) { /*less than xs*/
  .xs-25rem{
	font-size:0.25rem;
  }
  .xs-50rem{
	font-size:0.5rem;
  }
  .xs-75rem{
	font-size:0.75rem;
  }
  .xs-125rem{
	font-size:1.25rem;
  }
  .xs-150rem{
	font-size:1.5rem;
  }
  .xs-175rem{
	font-size:1.75rem;
  }
  .xs-200rem{
	font-size:2rem;
  }
  
  .xs-25em{
	font-size:0.25em;
  }
  .xs-50em{
	font-size:0.5em;
  }
  .xs-75em{
	font-size:0.75em;
  }
  .xs-125em{
	font-size:1.25em;
  }
  .xs-150em{
	font-size:1.5em;
  }
  .xs-175em{
	font-size:1.75em;
  }
  .xs-200em{
	font-size:2em;
  }
}
@media (min-width: 768px) { /*sm and up*/
  html{
	font-size:18px;
  }
  
  .sm-up-25rem{
	font-size:0.25rem;
  }
  .sm-up-50rem{
	font-size:0.5rem;
  }
  .sm-up-75rem{
	font-size:0.75rem;
  }
  .sm-up-125rem{
	font-size:1.25rem;
  }
  .sm-up-150rem{
	font-size:1.5rem;
  }
  .sm-up-175rem{
	font-size:1.75rem;
  }
  .sm-up-200rem{
	font-size:2rem;
  }
  
  .sm-up-25em{
	font-size:0.25em;
  }
  .sm-up-50em{
	font-size:0.5em;
  }
  .sm-up-75em{
	font-size:0.75em;
  }
  .sm-up-125em{
	font-size:1.25em;
  }
  .sm-up-150em{
	font-size:1.5em;
  }
  .sm-up-175em{
	font-size:1.75em;
  }
  .sm-up-200em{
	font-size:2em;
  }

  @media (max-width: 991px) { /*and less than md*/
	.sm-25rem{
		font-size:0.25rem;
	}
	.sm-50rem{
		font-size:0.5rem;
	}
	.sm-75rem{
		font-size:0.75rem;
	}
	.sm-125rem{
		font-size:1.25rem;
	}
	.sm-150rem{
		font-size:1.5rem;
	}
	.sm-175rem{
		font-size:1.75rem;
	}
	.sm-200rem{
		font-size:2rem;
	}
	
	.sm-25em{
		font-size:0.25em;
	}
	.sm-50em{
		font-size:0.5em;
	}
	.sm-75em{
		font-size:0.75em;
	}
	.sm-125em{
		font-size:1.25em;
	}
	.sm-150em{
		font-size:1.5em;
	}
	.sm-175em{
		font-size:1.75em;
	}
	.sm-200em{
		font-size:2em;
	}
  }
}
@media (min-width: 992px) { /*md and up*/
  html{
	font-size:16px;
  }
  .md-up-25rem{
	font-size:0.25rem;
  }
  .md-up-50rem{
	font-size:0.5rem;
  }
  .md-up-75rem{
	font-size:0.75rem;
  }
  .md-up-125rem{
	font-size:1.25rem;
  }
  .md-up-150rem{
	font-size:1.5rem;
  }
  .md-up-175rem{
	font-size:1.75rem;
  }
  .md-up-200rem{
	font-size:2rem;
  }
  
  .md-up-25em{
	font-size:0.25em;
  }
  .md-up-50em{
	font-size:0.5em;
  }
  .md-up-75em{
	font-size:0.75em;
  }
  .md-up-125em{
	font-size:1.25em;
  }
  .md-up-150em{
	font-size:1.5em;
  }
  .md-up-175em{
	font-size:1.75em;
  }
  .md-up-200em{
	font-size:2em;
  }
  
  @media (max-width: 1199px) { /*and less than lg*/
	.md-25rem{
		font-size:0.25rem;
	}
	.md-50rem{
		font-size:0.5rem;
	}
	.md-75rem{
		font-size:0.75rem;
	}
	.md-125rem{
		font-size:1.25rem;
	}
	.md-150rem{
		font-size:1.5rem;
	}
	.md-175rem{
		font-size:1.75rem;
	}
	.md-200rem{
		font-size:2rem;
	}
	
	.md-25em{
		font-size:0.25em;
	}
	.md-50em{
		font-size:0.5em;
	}
	.md-75em{
		font-size:0.75em;
	}
	.md-125em{
		font-size:1.25em;
	}
	.md-150em{
		font-size:1.5em;
	}
	.md-175em{
		font-size:1.75em;
	}
	.md-200em{
		font-size:2em;
	}
  }
}
@media (min-width: 1200px) { /*md and up*/
  html{
	font-size:14px;
  }
  
  .lg-up-25rem, .lg-25rem{
	font-size:0.25rem;
  }
  .lg-up-50rem, .lg-50rem{
	font-size:0.5rem;
  }
  .lg-up-75rem, .lg-75rem{
	font-size:0.75rem;
  }
  .lg-up-125rem, .lg-125rem{
	font-size:1.25rem;
  }
  .lg-up-150rem, .lg-150rem{
	font-size:1.5rem;
  }
  .lg-up-175rem, .lg-175rem{
	font-size:1.75rem;
  }
  .lg-up-200rem, .lg-200rem{
	font-size:2rem;
  }
  
  .lg-up-25em, .lg-25em{
	font-size:0.25em;
  }
  .lg-up-50em, .lg-50em{
	font-size:0.5em;
  }
  .lg-up-75emm .lg-75em{
	font-size:0.75em;
  }
  .lg-up-125em, .lg-125em{
	font-size:1.25em;
  }
  .lg-up-150em, .lg-150em{
	font-size:1.5em;
  }
  .lg-up-175em, .lg-175em{
	font-size:1.75em;
  }
  .lg-up-200em, .lg-200em{
	font-size:2em;
  }
}
.padless{
	padding:0;
}
.padless-horiz{
	padding-right:0;
	padding-left:0;
}
.padless-vit{
	padding-top:0;
	padding-bottom:0;
}
.marginless{
	margin:0;
}
.marginless-horiz{
	margin-right:0;
	margin-left:0;
}
.marginless-vit{
	margin-top:0;
	margin-bottom:0;
}
.space-after{
	padding-right:0.25em;
}