*{
	font-size: inherit;
	font-family: inherit;
	font-weight:inherit;
	line-height: inherit;
	letter-spacing:inherit;
	color: inherit;
	/*transition:font-size 0.25s;*/
}
html{
	font-size:20px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
section, main, nav, article, footer, header{
	font-size: 1rem;
}
/*
[class*="-25em"], [class*="-25rem"], [class*="-50em"], [class*="-50rem"], [class*="-75em"], [class*="-75rem"] , [class*="-100em"], [class*="-100rem"], [class*="-125em"], [class*="-125rem"], [class*="-150em"], [class*="-150rem"], [class*="-175em"], [class*="-175rem"], [class*="-200em"], [class*="-200rem"]{
	transition:font-size .25s;
}*/

.font-0rem, .font-xs-up-0rem, .font-0em, .font-xs-up-0em, .font-xs-up-0, .font-0{
	font-size:0;
}
.font-25rem, .font-xs-up-25rem{
	font-size:0.25rem;
}
.font-50rem, .font-xs-up-50rem{
	font-size:0.5rem;
}
.font-75rem, .font-xs-up-75rem{
	font-size:0.75rem;
}
.font-100rem, .font-xs-up-100rem{
	font-size:1rem;
}
.font-125rem, .font-xs-up-125rem{
	font-size:1.25rem;
}
.font-150rem, .font-xs-up-150rem{
	font-size:1.5rem;
}
.font-175rem, .font-xs-up-175rem{
	font-size:1.75rem;
}
.font-200rem, .font-xs-up-200rem{
	font-size:2rem;
}

.font-25em, .font-xs-up-25em{
	font-size:25%;
	font-size:0.25em;
}
.font-50em, .font-xs-up-50em{
	font-size:50%;
	font-size:0.5em;
}
.font-75em, .font-xs-up-75em{
	font-size:75%;
	font-size:0.75em;
}
.font-100em, .font-xs-up-100em{
	font-size:100%;
	font-size:1em;
}
.font-125em, .font-xs-up-125em{
	font-size:125%;
	font-size:1.25em;
}
.font-150em, .font-xs-up-150em{
	font-size:150%;
	font-size:1.5em;
}
.font-175em, .font-xs-up-175em{
	font-size:175%;
	font-size:1.75em;
}
.font-200em, .font-xs-up-200em{
	font-size:200%;
	font-size:2em;
}

@media (max-width: 767px) { /*less than xs*/
  .font-xs-0rem, .font-xs-0em, .font-xs-0{
	font-size:0;
  }
  .font-xs-25rem{
	font-size:0.25rem;
  }
  .font-xs-50rem{
	font-size:0.5rem;
  }
  .font-xs-75rem{
	font-size:0.75rem;
  }
  .font-xs-100rem{
	font-size:1rem;
  }
  .font-xs-125rem{
	font-size:1.25rem;
  }
  .font-xs-150rem{
	font-size:1.5rem;
  }
  .font-xs-175rem{
	font-size:1.75rem;
  }
  .font-xs-200rem{
	font-size:2rem;
  }
  
  .font-xs-25em{
	font-size:25%;
	font-size:0.25em;
  }
  .font-xs-50em{
	font-size:50%;
	font-size:0.5em;
  }
  .font-xs-75em{
	font-size:75%;
	font-size:0.75em;
  }
  .font-xs-100em{
	font-size:100%;
	font-size:1em;
  }
  .font-xs-125em{
	font-size:125%;
	font-size:1.25em;
  }
  .font-xs-150em{
	font-size:150%;
	font-size:1.5em;
  }
  .font-xs-175em{
	font-size:175%;
	font-size:1.75em;
  }
  .font-xs-200em{
	font-size:200%;
	font-size:2em;
  }
}
@media (min-width: 768px) { /*sm and up*/
  html{
	font-size:18px;
  }
  .font-sm-up-0rem, .font-sm-up-0em, .font-sm-up-0{
	font-size:0;
  }
  
  .font-sm-up-25rem{
	font-size:0.25rem;
  }
  .font-sm-up-50rem{
	font-size:0.5rem;
  }
  .font-sm-up-75rem{
	font-size:0.75rem;
  }
  .font-sm-up-100rem{
	font-size:1rem;
  }
  .font-sm-up-125rem{
	font-size:1.25rem;
  }
  .font-sm-up-150rem{
	font-size:1.5rem;
  }
  .font-sm-up-175rem{
	font-size:1.75rem;
  }
  .font-sm-up-200rem{
	font-size:2rem;
  }
  
  .font-sm-up-25em{
	font-size:25%;
	font-size:0.25em;
  }
  .font-sm-up-50em{
	font-size:50%;
	font-size:0.5em;
  }
  .font-sm-up-75em{
	font-size:75%;
	font-size:0.75em;
  }
  .font-sm-up-100em{
	font-size:100%;
	font-size:1em;
  }
  .font-sm-up-125em{
	font-size:125%;
	font-size:1.25em;
  }
  .font-sm-up-150em{
	font-size:150%;
	font-size:1.5em;
  }
  .font-sm-up-175em{
	font-size:175%;
	font-size:1.75em;
  }
  .font-sm-up-200em{
	font-size:200%;
	font-size:2em;
  }

  @media (max-width: 991px) { /*and less than md*/
	.font-sm-0rem, .font-sm-0em, .font-sm-0{
		font-size:0;
	}
	.font-sm-25rem{
		font-size:0.25rem;
	}
	.font-sm-50rem{
		font-size:0.5rem;
	}
	.font-sm-75rem{
		font-size:0.75rem;
	}
	.font-sm-100rem{
		font-size:1rem;
	}
	.font-sm-125rem{
		font-size:1.25rem;
	}
	.font-sm-150rem{
		font-size:1.5rem;
	}
	.font-sm-175rem{
		font-size:1.75rem;
	}
	.font-sm-200rem{
		font-size:2rem;
	}
	
	.font-sm-25em{
		font-size:25%;
		font-size:0.25em;
	}
	.font-sm-50em{
		font-size:50%;
		font-size:0.5em;
	}
	.font-sm-75em{
		font-size:75%;
		font-size:0.75em;
	}
	.font-sm-100em{
		font-size:100%;
		font-size:1em;
	}
	.font-sm-125em{
		font-size:125%;
		font-size:1.25em;
	}
	.font-sm-150em{
		font-size:150%;
		font-size:1.5em;
	}
	.font-sm-175em{
		font-size:175%;
		font-size:1.75em;
	}
	.font-sm-200em{
		font-size:200%;
		font-size:2em;
	}
  }
}
@media (min-width: 992px) { /*md and up*/
  html{
	font-size:16px;
  }
  .font-md-up-0rem, .font-md-up-0em, .font-md-up-0{
	font-size:0;
  }
  .font-md-up-25rem{
	font-size:0.25rem;
  }
  .font-md-up-50rem{
	font-size:0.5rem;
  }
  .font-md-up-75rem{
	font-size:0.75rem;
  }
  .font-md-up-100rem{
	font-size:1rem;
  }
  .font-md-up-125rem{
	font-size:1.25rem;
  }
  .font-md-up-150rem{
	font-size:1.5rem;
  }
  .font-md-up-175rem{
	font-size:1.75rem;
  }
  .font-md-up-200rem{
	font-size:2rem;
  }
  
  .font-md-up-25em{
	font-size:25%;
	font-size:0.25em;
  }
  .font-md-up-50em{
	font-size:50%;
	font-size:0.5em;
  }
  .font-md-up-75em{
	font-size:75%;
	font-size:0.75em;
  }
  .font-md-up-100em{
	font-size:100%;
	font-size:1em;
  }
  .font-md-up-125em{
	font-size:125%;
	font-size:1.25em;
  }
  .font-md-up-150em{
	font-size:150%;
	font-size:1.5em;
  }
  .font-md-up-175em{
	font-size:175%
	font-size:1.75em;;
  }
  .font-md-up-200em{
	font-size:200%;
	font-size:2em;
  }
  
  @media (max-width: 1199px) { /*and less than lg*/
	.font-md-0rem, .font-md-0em, .font-md-0{
		font-size:0;
	}
	.font-md-25rem{
		font-size:0.25rem;
	}
	.font-md-50rem{
		font-size:0.5rem;
	}
	.font-md-75rem{
		font-size:0.75rem;
	}
	.font-md-100rem{
		font-size:1rem;
	}
	.font-md-125rem{
		font-size:1.25rem;
	}
	.font-md-150rem{
		font-size:1.5rem;
	}
	.font-md-175rem{
		font-size:1.75rem;
	}
	.font-md-200rem{
		font-size:2rem;
	}
	
	.font-md-25em{
		font-size:25%;
		font-size:0.25em;
	}
	.font-md-50em{
		font-size:50%;
		font-size:0.5em;
	}
	.font-md-75em{
		font-size:75%;
		font-size:0.75em;
	}
	.font-md-100em{
		font-size:100%;
		font-size:1em;
	}
	.font-md-125em{
		font-size:125%;
		font-size:1.25em;
	}
	.font-md-150em{
		font-size:150%;
		font-size:1.5em;
	}
	.font-md-175em{
		font-size:175%;
		font-size:1.75em;
	}
	.font-md-200em{
		font-size:200%;
		font-size:2em;
	}
  }
}
@media (min-width: 1200px) { /*lg and up*/
  html{
	font-size:14px;
  }  
  .font-lg-0rem, .font-lg-up-0rem, .font-lg-0em, .font-lg-up-0em, .font-lg-up-0, .font-lg-0{
	font-size:0;
  }
  .font-lg-25rem, .font-lg-up-25rem{
	font-size:0.25rem;
  }
  .font-lg-50rem, .font-lg-up-50rem{
	font-size:0.5rem;
  }
  .font-lg-75rem, .font-lg-up-75rem{
	font-size:0.75rem;
  }
  .font-lg-100rem, .font-lg-up-100rem{
	font-size:1rem;
  }
  .font-lg-125rem, .font-lg-up-125rem{
	font-size:1.25rem;
  }
  .font-lg-150rem, .font-lg-up-150rem{
	font-size:1.5rem;
  }
  .font-lg-175rem, .font-lg-up-175rem{
	font-size:1.75rem;
  }
  .font-lg-200rem, .font-lg-up-200rem{
	font-size:2rem;
  }
  
  .font-lg-25em, .font-lg-up-25em{
	font-size:25%;
	font-size:0.25em;
  }
  .font-lg-50em, .font-lg-up-50em{
	font-size:50%;
	font-size:0.5em;
  }
  .font-lg-75em, .font-lg-up-75em{
	font-size:75%;
	font-size:0.75em;
  }
  .font-lg-100em, .font-lg-up-100em{
	font-size:100%;
	font-size:1em;
  }
  .font-lg-125em, .font-lg-up-125em{
	font-size:125%;
	font-size:1.25em;
  }
  .font-lg-150em, .font-lg-up-150em{
	font-size:150%;
	font-size:1.5em;
  }
  .font-lg-175em, .font-lg-up-175em{
	font-size:175%;
	font-size:1.75em;
  }
  .font-lg-200em, .font-lg-up-200em {
	font-size:200%;
	font-size:2em;
  }
}
.spacefix:after{
	content: " ";
}