/*controlling padding and margin*/
.padless{
	padding:0;
}
.pad-25em{
	padding:.25em;
}
.pad-25rem{
	padding:.25rem;
}
.pad-50em{
	padding:.5em;
}
.pad-50rem{
	padding:.5rem;
}
.pad-75em{
	padding:.75em;
}
.pad-75rem{
	padding:.75rem;
}
.pad-100em{
	padding:1em;
}
.pad-100rem{
	padding:1rem;
}
.pad-125em{
	padding:1.25em;
}
.pad-125rem{
	padding:1.25rem;
}
.pad-150em{
	padding:1.5em;
}
.pad-150rem{
	padding:1.5rem;
}
.pad-175em{
	padding:1.75em;
}
.pad-175rem{
	padding:1.75rem;
}
.pad-200em{
	padding:2em;
}
.pad-200rem{
	padding:2rem;
}
.pad-horiz-25em{
	padding-left:.25em;
	padding-right:.25em;
}
.pad-horiz-25rem{
	padding-left:.25rem;
	padding-right:.25rem;
}
.pad-horiz-50em{
	padding-left:.5em;
	padding-right:.5em;
}
.pad-horiz-50rem{
	padding-left:.5rem;
	padding-right:.5rem;
}
.pad-horiz-75em{
	padding-left:.75em;
	padding-right:.75em;
}
.pad-horiz-75rem{
	padding-left:.75rem;
	padding-right:.75rem;
}
.pad-horiz-100em{
	padding-left:1em;
	padding-right:1em;
}
.pad-horiz-100rem{
	padding-left:1rem;
	padding-right:1rem;
}
.pad-horiz-125em{
	padding-left:1.25em;
	padding-right:1.25em;
}
.pad-horiz-125rem{
	padding-left:1.25rem;
	padding-right:1.25rem;
}
.pad-horiz-150em{
	padding-left:1.5em;
	padding-right:1.5em;
}
.pad-horiz-150rem{
	padding-left:1.5rem;
	padding-right:1.5rem;
}
.pad-horiz-175em{
	padding-left:1.75em;
	padding-right:1.75em;
}
.pad-horiz-175rem{
	padding-left:1.75rem;
	padding-right:1.75rem;
}
.pad-horiz-200em{
	padding-left:2em;
	padding-right:2em;
}
.pad-horiz-200rem{
	padding-left:2rem;
	padding-right:2rem;
}
.pad-virt-25em{
	padding-top:.25em;
	padding-bottom:.25em;
}
.pad-virt-25rem{
	padding-top:.25rem;
	padding-bottom:.25rem;
}
.pad-virt-50em{
	padding-top:.5em;
	padding-bottom:.5em;
}
.pad-virt-50rem{
	padding-top:.5rem;
	padding-bottom:.5rem;
}
.pad-virt-75em{
	padding-top:.75em;
	padding-bottom:.75em;
}
.pad-virt-75rem{
	padding-top:.75rem;
	padding-bottom:.75rem;
}
.pad-virt-100em{
	padding-top:1em;
	padding-bottom:1em;
}
.pad-virt-100rem{
	padding-top:1rem;
	padding-bottom:1rem;
}
.pad-virt-125em{
	padding-top:1.25em;
	padding-bottom:1.25em;
}
.pad-virt-125rem{
	padding-top:1.25rem;
	padding-bottom:1.25rem;
}
.pad-virt-150em{
	padding-top:1.5em;
	padding-bottom:1.5em;
}
.pad-virt-150rem{
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}
.pad-virt-175em{
	padding-top:1.75em;
	padding-bottom:1.75em;
}
.pad-virt-175rem{
	padding-top:1.75rem;
	padding-bottom:1.75rem;
}
.pad-virt-200em{
	padding-top:2em;
	padding-bottom:2em;
}
.pad-virt-200rem{
	padding-top:2rem;
	padding-bottom:2rem;
}
.padless-horiz{
	padding-right:0;
	padding-left:0;
}
.padless-vit{
	padding-top:0;
	padding-bottom:0;
}

.marginless{
	margin:0;
}
.marg-25em{
	margin:.25em;
}
.marg-25rem{
	margin:.25rem;
}
.marg-50em{
	margin:.5em;
}
.marg-50rem{
	margin:.5rem;
}
.marg-75em{
	margin:.75em;
}
.marg-75rem{
	margin:.75rem;
}
.marg-100em{
	margin:1em;
}
.marg-100rem{
	margin:1rem;
}
.marg-125em{
	margin:1.25em;
}
.marg-125rem{
	margin:1.25rem;
}
.marg-150em{
	margin:1.5em;
}
.marg-150rem{
	margin:1.5rem;
}
.marg-175em{
	margin:1.75em;
}
.marg-175rem{
	margin:1.75rem;
}
.marg-200em{
	margin:2em;
}
.marg-200rem{
	margin:2rem;
}
.marg-horiz-25em{
	margin-right:.25em;
	margin-left.25em;
}
.marg-horiz-25rem{
	margin-right:.25rem;
	margin-left:.25rem;
}
.marg-horiz-50em{
	margin-right:.5em;
	margin-left:.5em;
}
.marg-horiz-50rem{
	margin-right:.5rem;
	margin-left:.5rem;
}
.marg-horiz-75em{
	margin-right:.75em;
	margin-left:.75em;
}
.marg-horiz-75rem{
	margin-right:.75rem;
	margin-left:.75rem;
}
.marg-horiz-100em{
	margin-right:1em;
	margin-left:1em;
}
.marg-horiz-100rem{
	margin-right:1rem;
	margin-left:1rem;
}
.marg-horiz-125em{
	margin-right:1.25em;
	margin-left:1.25em;
}
.marg-horiz-125rem{
	margin-right:1.25rem;
	margin-left:1.25rem;
}
.marg-horiz-150em{
	margin-right:1.5em;
	margin-left:1.5em;
}
.marg-horiz-150rem{
	margin-right:1.5rem;
	margin-left:1.5rem;
}
.marg-horiz-175em{
	margin-right:1.75em;
	margin-left:1.75em;
}
.marg-horiz-175rem{
	margin-right:1.75rem;
	margin-left:1.75rem;
}
.marg-horiz-200em{
	margin-right:2em;
	margin-left:2em;
}
.marg-horiz-200rem{
	margin-top:2rem;
	margin-bottom:2rem;
}
.marg-virt-25em{
	margin-top:.25em;
	margin-bottom:.25em;
}
.marg-virt-25rem{
	margin-top:.25rem;
	margin-bottom:.25rem;
}
.marg-virt-50em{
	margin-top:.5em;
	margin-bottom:.5em;
}
.marg-virt-50rem{
	margin-top:.5rem;
	margin-bottom:.5rem;
}
.marg-virt-75em{
	margin-top:.75em;
	margin-bottom:.75em;
}
.marg-virt-75rem{
	margin-top:.75rem;
	margin-bottom:.75rem;
}
.marg-virt-100em{
	margin-top:1em;
	margin-bottom:1em;
}
.marg-virt-100rem{
	margin-top:1rem;
	margin-bottom:1rem;
}
.marg-virt-125em{
	margin-top:1.25em;
	margin-bottom:1.25em;
}
.marg-virt-125rem{
	margin-top:1.25rem;
	margin-bottom:1.25rem;
}
.marg-virt-150em{
	margin-top:1.5em;
	margin-bottom:1.5em;
}
.marg-virt-150rem{
	margin-top:1.5rem;
	margin-bottom:1.5rem;
}
.marg-virt-175em{
	margin-top:1.75em;
	margin-bottom:1.75em;
}
.marg-virt-175rem{
	margin-top:1.75rem;
	margin-bottom:1.75rem;
}
.marg-virt-200em{
	margin-top:2em;
	margin-bottom:2em;
}
.marg-virt-200rem{
	margin-top:2rem;
	margin-bottom:2rem;
}
.marginless-horiz{
	margin-right:0;
	margin-left:0;
}
.marginless-virt{
	margin-top:0;
	margin-bottom:0;
}

/*controlling letter space*/
.lspace-0{
	letter-spacing:initial;
}
.lspace-25em{
	letter-spacing:0.25em;
}
.lspace-50em{
	letter-spacing:0.5em;
}
.lspace-75em{
	letter-spacing:0.75em;
}
.lspace-100em{
	letter-spacing:1em;
}
.lspace-125em{
	letter-spacing:1.25em;
}
.lspace-150em{
	letter-spacing:1.5em;
}
.lspace-175em{
	letter-spacing:1.75em;
}
.lspace-200em{
	letter-spacing:2em;
}
.lspace-25rem{
	letter-spacing:0.25rem;
}
.lspace-50rem{
	letter-spacing:0.5rem;
}
.lspace-75rem{
	letter-spacing:0.75rem;
}
.lspace-100rem{
	letter-spacing:1rem;
}
.lspace-125rem{
	letter-spacing:1.25rem;
}
.lspace-150rem{
	letter-spacing:1.5rem;
}
.lspace-175rem{
	letter-spacing:1.75rem;
}
.lspace-200rem{
	letter-spacing:2rem;
}

/*adjust font weight... weight-# or font-<xlight, light, normal, bold, xbold>*/
.weight-100, .font-100{
	font-weight: 100;
}
.weight-200, .font-200, .font-xlight{
	font-weight: 200;
}
.weight-300, .font-300, .font-light{
	font-weight: 300;
}
.weight-400, .font-400, .font-normal{
	font-weight: 400;
}
.weight-500, .font-500{
	font-weight: 500;
}
.weight-600, .font-600{
	font-weight: 600;
}
.weight-700, .font-700, .font-bold{
	font-weight: 700;
}
.weight-800, .font-800{
	font-weight: 800;
}
.weight-900, .font-900, .font-xbold{
	font-weight: 900;
}